
Gefest/.vs/Gefest/v16/

Gefest/Debug/

*.txt

*.sln

*.fdz

*.u2d

*.vfproj

*.nb

*.out

Gefest/fort.1

*.bin

Gefest/resh_2/fort.1

*.pptx

Integr_test/Integr_test/.vs/Integr_test/v16/

*.htm

*.exe

*.manifest

Integr_test/Integr_test/Debug/

swobodnoe/fort.1

*.lay

GD_00014.txt.filepart
